@model List<DIBZ.Common.Model.Banners>
@{
    ViewBag.Title = "Banners";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section CustomScripts{

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/datatables/dataTables.bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/datatables/rowReorder.dataTables.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/datatables/responsive.dataTables.min.css")">
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/datatables/dataTables.rowReorder.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/datatables/dataTables.responsive.min.js")"></script>

    <script>
        $(function () {
            $('.table').DataTable({
                "scrollX": true,
                "paging": true,
                "ordering": true,
                "info": true,
                "lengthChange": true,
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                    "order": []
                }],
                //rowReorder: {
                //    selector: 'td:nth-child(2)'
                //},
                "order": [[5, "asc"]],
                responsive: true
            });
        });

        $(function () {
            if ($(".nav a").hasClass("active")) {
                $(".nav a").removeClass("active");

            }
            $(".nav #menu6").addClass("active");
        });

        function AddDataTable() {
            $('.table').DataTable({
                "scrollX": true,
                "paging": true,
                //"ordering": true,
                "info": true,
                "lengthChange": true,
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                    "order": []
                }],
                //rowReorder: {
                //    selector: 'td:nth-child(2)'
                //},
                "order": [[5, "asc"]],
                responsive: true
            });
        }
        // change app user status
        function changeUserStatus(queryId, statusCode) {
            ajaxCall('@Url.Action("changeUserStatus", "AppUserQueries")', { queryId: queryId, statusCode: statusCode }, function (resp) {
                    if (resp.IsTrue === true) {

                        }
                    else {
                    }

                }, function (fail) {
                    //alert(fail);
                }, function (err) {
                    //alert(err);
                });
        }


        //for dialouge box
        function changeUserStatusFromDialog(queryId, statusCode) {
            var statusCode = parseInt($('#mySelect').val());
            if (statusCode == "1")
            {
                $('#lblerrorMsg').show();
                $('#lblerrorMsg').text("Query Opened again");
                $('#message-textarea-for-admin').attr("disabled", false);
            }
            else if (statusCode == "2")
            {
                $('#lblerrorMsg').show();
                $('#lblerrorMsg').text("Query Closed");
                $('#message-textarea-for-admin').attr("disabled", "disabled");
            }
            ajaxCall('@Url.Action("changeUserStatus", "AppUserQueries")', { queryId: queryId, statusCode: statusCode }, function (resp) {
                if (resp.IsTrue === true) {

                }
                else {
                }

            }, function (fail) {
                //alert(fail);
            }, function (err) {
                //alert(err);
            }

            );
        }



        function hideDetailPopup() {
                $('.myQueries-detail-modal').hide();
                $('.myQueries-detail-modal').removeClass("in");
                $('.myQueries-detail-modal').removeClass("in");
                $(".fade").removeClass("modal-backdrop");
                $("body").removeClass("modal-open");
                //$("body").css("padding-right", "");
            }

        //remove error label
            function removeRequired() {
                $('#lblerrorMsg').hide();
            }

        //get detail by my query id
            function Activate(id, Status) {
                debugger;
                $.ajax({
                    url: '@Url.Action("BannersDeActive", "AppUserQueries")',
                    type: "POST",
                    dataType: "html",
                    data: { id: id, Status: Status },
                    success: function (data) {
                        //debugger;
                        alert('banner successfully updated.')
                    },
                    error: function (data) {
                        console.log("failed to fetch data due to some reason please check ajax call.");
                    }

                });
            }

        //delete query by id
        function DeleteQuery(id) {
            var check = parseInt($('.'+id).val());
            if (check == '2') {
                if (confirm('Are you sure want to delete this banner?')) {
                    $.ajax({
                        url: '@Url.Action("DeleteBanner", "AppUserQueries")',
                        type: "POST",
                        dataType: "html",
                        data: { id: id },
                        success: function (data) {
                            location.reload();
                        },
                        error: function (data) {
                            console.log("failed to fetch data due to some reason please check ajax call.");
                        }
                    });
                }
            }
            else {
                alert("You can not delete this banner")
            }
        };



        //save message for dialoag box
        function AddMessageForAdmin(queryId) {
            debugger
            //var statusCode = parseInt($('#mySelect').val());
            ////changeUserStatusFromDialog(queryId, statusCode);
            $('#add-message').validate();
            var message = $('#message-textarea-for-admin').val()
            if (message != '') {
                $.ajax({
                    url: '@Url.Action("AddMessageForAdmin", "AppUserQueries")',
                    type: "POST",
                    dataType: "html",
                    data: { queryId: queryId, message: $('#message-textarea-for-admin').val() },
                    success: function (data) {

                        GetMyQueryDetailByMyQueryIdForAdmin(queryId, message);
                      },
                    error: function (data) {
                        console.log("failed to fetch data due to some reason please check ajax call.");
                    }
                });
            }
            else {
                $('#lblerrorMsg').show();
                $('#lblerrorMsg').text("This field is required.");
                return false;
            }
        };


        // for trucate long text
        $(document).ready(function () { //
            $(".appuser-text-trancate").each(function () {
                var maxwidth = 15;
                if ($(this).text().length > maxwidth) {
                    $(this).text($(this).text().substring(0, maxwidth));
                    $(this).html($(this).html() + '...');
                }
            });
        });

        //hide DataTable info when no data in Table
        $(function () {
            if ($('.dataTables_empty').length > 0) {
                $('#DataTables_Table_0_info').css("display", "none");
                $('.dataTables_empty').css("display", "none");
            }
        })

    </script>
}


<div class="section-container page-header-container bg-black">
    <!-- BEGIN page-header-cover -->
    <div class="page-header-cover">
        <img src="~/Content/assets/img/top-cover.jpg" alt="">
    </div>
    <!-- END page-header-cover -->
    <!-- BEGIN container -->
    <div class="container">
        <h1 class="page-header text-left pull-left"><b>Banners</b></h1>
        <!-- <a href="add-game.html" class="p-l-14 p-r-14 m-r-2 btn btn-danger p-t-2 p-b-2 pull-right m-t-10">ADD GAME</a> -->
    </div>
    <!-- END container -->
</div>

<!-- Banner Slider START HERE -->
<div class="section-container bg-white border-bottom-1">
    <div class="container">
        <div class="row row-space-10">
            <div class="col-md-12">
                <div class="checkout-body p-0">
                    <div class="table-responsive">
                        <table class="table table-cart">
                            <thead>
                                <tr>
                                    <th width="10%">Name</th>                                  
                                    <th width="15%">Title</th>
                                    <th width="10%">Image</th>
                                    <th width="10%">Created Date</th>   
                                    <th width="10%">Status</th>                                                          
                                    <th class="no-sort">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="alter-bg">
                                        @*<td>@item.Id </td>*@                                       
                                        <td>@item.Name</td>
                                        <td>@item.Title</td>
                                        <td>@item.ImagePath</td>    
                                        <td>@item.CreatedTime.ToString("dd/MM/yyyy")</td>                                                                           
                                        <td>
                                            @(item.IsActive == true ? "Active" : "InActive")
                                            @*<select id="mySelect-admin" name="mySelect" class="form-control @item.Id" onchange="changeUserStatus(@item.Id, this.value);">
                                                <option value="#">Please Select</option>
                                                <option value="1" @(item.IsActive == true ? "selected" : "")> Active</option>
                                                <option value="2" @(item.IsActive == false ? "selected" : "")> In-Active</option>
                                            </select>*@
                                        </td>
                                        <td>                                           
                                            <a class="p-l-14 p-r-14 m-r-2 btn btn-default p-t-2 p-b-2" onclick="Activate(@item.Id, @(item.IsActive == true ? 1 : 0));"> @(item.IsActive == true ? "DeActivate" : "Activate")</a>

                                            <a onclick="DeleteQuery(@item.Id);" class="p-l-14 p-r-14 m-r-2 btn btn-danger p-t-2 p-b-2">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- END col-8 -->
                </div>
            </div>
        </div>
        <!-- END row -->
    </div>
</div>
<!-- Banner Slider END HERE -->
<!-- footer copyright END HERE -->
<div class="chat-room">

</div>



