
@{
    ViewBag.Title = "Change password";
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>DIBZ</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/style.min.css")" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->

</head>
<body class="gray-bg">

    <!-- Banner Slider START HERE -->
    <div class="section-container">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN row -->
            <div class="row row-space-30">
                <!-- BEGIN col-8 -->
                <div class="col-md-5 m-tp-20 bg-white p-35 col-md-offset-3">
                    <div class="content">
                        <!-- BEGIN LOGIN FORM -->
                        <form id="form" class="login-form" >
                            <h3 class="form-title text-center m-b-15"><b>New Password</b></h3>
                            <div class="alert alert-danger display-hide" style="display:none;">
                                <button class="close" data-close="alert"></button>
                                <span>
                                    Enter any username and password.
                                </span>
                            </div>

                            <div class="form-group">
                                @*<div class="alert p-10" id="divMessage" >
                                    @if (ViewData["Message"]!=null)
                                    {
                                        <p>@ViewData["Message"]&nbsp;<span>Please <a href="@Url.Action("Index", "Dashboard")">proceed here</a></span></p>
                                    }
                                    
                                </div>*@
                                <div id="lblMessage" class="alert p-10" style="display:none;">
                                    <p>Password has been changed successfully.<span>Please <a href="@Url.Action("Index", "Dashboard")">proceed here</a></span></p>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                <input id="pwd" class="form-control" type="password" autocomplete="off" placeholder="New Password" name="password" required maxlength="60" />
                                <input id="appUserId"  type="hidden" value="@Request.QueryString["id"]" name="id" />
                                <input id="confirmPassword" type="password" class="form-control" name="cpass" placeholder="Confirm New Password" maxlength="40" required>
                            </div>
                            <div class="form-actions">
                                <button type="button" id="btnChangePwd" class="btn btn-danger btn-block uppercase" onclick="ChangePassword();" >Save</button>

                            </div>
                            <div id="lblErrorMessage" class="alert alert-danger" style="display:none;"></div>
                        </form>
                        <!-- END LOGIN FORM -->

                    </div>
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>

        <!-- Banner Slider END HERE -->

    </div>

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="@Url.Content("~/Content/assets/plugins/jquery/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")"></script>

    <!-- ================== END BASE JS ================== -->

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/Common.js")"></script>


    <script>
	$(document).ready(function() {

        $('#form').validate();

        $('#confirmPassword').rules('add', {
            equalTo: "#pwd",
            messages: {
                equalTo: 'Password and confirm password does not match.'
            }

        });
    });

        function ChangePassword()
        {
            debugger;
            $('#form').validate();
            if ($('#form').valid()) {

                //checking for strong password.
                var strongRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
                var pwd = $('#pwd').val().match(strongRegex);
                if (pwd == null) {
                    $('#lblErrorMessage').show();
                    $('#lblErrorMessage').text("Please enter password which should contain at least one digit, one lower case, one upper case and 8 from the mentioned characters. ");
                    return false;
                }
                var appUserId = $('#appUserId').val();

                @*$.ajax('@Url.Action("SetNewPassword", "Dashboard")', { id: appUserId, password: password })
                    .done(function (resp) {
                        if (resp.IsSuccess === true) {
                            //console.log("locations: " + resp.data[0].Address);

                            $('#lblMessage').show();
                           
                        }
                        else {
                            $('#lblErrorMessage').show();
                            $('#lblErrorMessage').text("Password doesn't change successfully please contact administrator.");
                        }
                    })
                    .fail(function () {
                        //alert("error");
                    })*@

                ajaxCall('@Url.Action("SetNewPassword", "Dashboard")', { id: appUserId, password: $('#pwd').val() }, function (resp) {

                    if (resp.IsSuccess === true) {
                        $('#lblMessage').show();
                        return true;

                        }
                    else {
                        $('#lblErrorMessage').show();
                        $('#lblErrorMessage').text("Password doesn't change successfully please contact administrator.");
                    }

                }, function (fail) {

                //alert(resp.fail);
                return false;
                }, function (err) {

                    //alert(err);
                    return false;
                });
            }
        }
    </script>

</body>

</html>
