@model DIBZ.Common.Model.Competition
@{
    ViewBag.Title = "AddUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Scripts/jQuery-Editor/jquery-te-1.4.0.css">
<script type="text/javascript" src="~/Scripts/jQuery-Editor/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="~/Scripts/jQuery-Editor/jquery-te-1.4.0.min.js" charset="utf-8"></script>
<style>
    .jqte_tool.jqte_tool_22 .jqte_tool_icon {
        background-position: -441px 0;
        user-select: none;
    }
    .jqte_tool_label
    {
        height:35px !important;
    }
    .jqte
    {
        width:800px;
        height:400px;
    }

   
</style>


@section CustomScripts{

    <script>
        $('#imgUploader').change(function () {

            $('#gameImagePreview').show();
            readURL(this, $('#gameImagePreview'));

        });

        $(function () {
            if ($(".nav a").hasClass("active")) {
                $(".nav a").removeClass("active");

            }
            $(".nav #menu5").addClass("active");
        });
     
    </script>
}

<div id="page-header" class="section-container page-header-container bg-black">
    <!-- BEGIN page-header-cover -->
    <div class="page-header-cover">
        <img src="@Url.Content("~/Areas/Content/assets/img/top-cover.jpg")" alt="">
    </div>
    <!-- END page-header-cover -->
    <!-- BEGIN container -->
    <div class="container">
        <h1 class="page-header text-left pull-left"><b>@(Model.Id > 0 ? "EDIT" : "ADD")</b> Content</h1>
    </div>
    <!-- END container -->
</div>




<!-- Banner Slider START HERE -->
<div class="section-container bg-white border-bottom-1">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row row-space-30">
            <!-- BEGIN col-8 -->
            <div class="col-md-12">
                <form action="@Url.Action("AddUpdateContent")" method="POST" id="form" enctype="multipart/form-data">
                    <input type="hidden" name="Id" value="@Model.Id">
                    <div class="col-md-6 m-b-20 mh-35">
                        <label class="control-label col-md-4 text-left p-b-10  p-l-0 p-r-0"></label>
                        <div class="col-md-8 p-l-0 p-r-0">              
                            @*Name @Html.TextBoxFor(model => model.Name, new {@id= "txtname", @class= "form-control", required = "required" })*@              
                           Name  <input class="form-control" type="text" placeholder="Please enter name" id="txtname" name="txtname" value="@Model.Name"  required="required" />
                            <br />
                           Title  <input class="form-control" type="text" placeholder="Please enter title" id="txttitle" name="txttitle" value="@Model.Title"  />
                            <br />
                           @*Content  <input class="form-control" type="text" placeholder="Please enter title" name="title" value="@Model.Content" />*@
                            @*Content <textarea id="txtcontent" name="txtcontent" rows="10" cols="2" style="width:600px;">@Model.Content</textarea>*@
                            Content <textarea id="txtcontent" name="txtcontent" rows="10" cols="2" class="jqte" style="width:700px; height:350px;">@Model.Content</textarea>
                            @*Content @Html.TextBoxFor(model => model.Content, new { @id = "txtcontent", @class = "jqte" })*@
                            
                            <small style="color:red;font-weight:bold;">select image here and drage it on editor</small>
                            <fieldset id="images" style="padding:50px; border:solid 1px #000000;">
                                <input name="imageEditor" type="file" multiple="multiple" accept="image/*">
                            </fieldset>

                            @*@Html.EditorFor(Model => Model.Content, new { htmlAttributes = new { @class = "form-control", @style = "width:500px;height:250px" } })*@
                            <br /><br />
                           Upload Image  <input class="form-control" id="imgUploader" type="file" name="file" accept="image/*"  />                            
                          
                            <div id="img" class="img">
                                @if (Model.Id > 0)
                                { <img id="gameImagePreview" src="@Url.Action("GetImage","CompetitionSetup",new {fileId= Model.Id})" class="img-thumbnail" alt="" width="150" height="150">}
                                else
                                {
                                    <img id="gameImagePreview" width="150" height="150" class="img-thumbnail" alt="" style="display:none;">
                                }
                            </div>
                            <br/>
                            Status
                            <select id="mySelect-admin" name="status" class="form-control @Model.Id">
                                <option value="#" @(Model.Id == 0 ? "selected" : "")>Please Select</option>
                                <option value="1" @(Model.IsActive == true ? "selected" : "")> Active</option>
                                <option value="0" @(Model.IsActive == false ? "selected" : "")> InActive</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-12 m-b-20 mh-35">
                        <label class="control-label col-md-4 text-left p-b-10  p-l-0 p-r-0">&nbsp;</label>
                        <div class="col-md-8 p-l-0 p-r-0">
                            <button type="submit" class="btn btn-danger btn-md pull-right">@(Model.Id > 0 ? "UPDATE" : "ADD")</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
    </div>
</div>

<script>
	//$('.jqte-test').jqte();

	//// settings of status
	//var jqteStatus = true;
	//$(".status").click(function()
	//{
	//	jqteStatus = jqteStatus ? false : true;
	//	$('.jqte-test').jqte({"status" : jqteStatus})
    //});


   // $(function () {
        $('.jqte').jqte();
        $('.jqte_toolbar').append('<div class="jqte_tool jqte_tool_22 unselectable" role="button"><a class="jqte_tool_icon unselectable"></a></div>')
        $('.jqte_tool_22 a').click(function () {
            $('[type=file]:enabled').click()
        })
        var droppedImage
        $(document).on('drop', '.jqte [contenteditable]', function () {
            console.log(this, arguments)
            if (droppedImage) {
                $(droppedImage).remove()
                droppedImage = undefined
            }
            setTimeout(function () {
                document.execCommand('unselect')
            }, 100)
        })
        $(document).on('dragstart', '#images img', function () {
            console.log(this, arguments)
            droppedImage = this
        }).on('dragend', '#images img', function () {
            console.log(this, arguments)
        })
        $(document).on('change', '[name=imageEditor]', function (e) {
            var here = $(this)
            here.parent().append(here.clone())
            here.hide().prop('disabled', true)
            $.each($(this).prop('files'), function (i, file) {
                var reader = new FileReader()
                reader.onload = function (e) {
                    $('<img/>', { src: e.target.result }).css({ maxHeight: 200 }).appendTo(here.parent())
                }
                reader.readAsDataURL(file)
            })

        })
    //});
</script>